/* Reset default styles */
html,
body,
header,
nav,
ul,
li,
h1,
p {
    margin: 0;
    padding: 0;
    list-style: none;
    /* font-weight: 600; */
}

body {
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    font-family: "Open Sans", sans-serif;
    color: #ece8e8;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    /* Adjust the alpha value to control the darkness */
    z-index: -1;
}

/* General styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-image: url('delorean.webp'); */
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 5px;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* background-image: url('delorean.webp'); */
    background-color: rgba(0, 0, 0);
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px;
    z-index: 9999;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff4081;
}

#progress-bar {
    position: fixed;
    top: 90px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ff4081;
    z-index: 9998;
  }

main {
    margin-top: 75px;
    /* Adjust the margin to leave space for the fixed header and nav */
    padding: 20px;
}

section p {
    width: 70%;
}

.carousel {
    text-align: center;
    margin-top: 2.5%;
  }

.scroll-arrow {
    width: 10%;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    padding:0;
    margin:0;
    opacity: 0.5;
    font-size:34px;
    transition: 0.2s;
}

.scroll-arrow:hover {
    transition: 0.2s;
    opacity:1;
}

.carousel ul {
    width: 70%;
    scroll-behavior: smooth;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.carousel ul::-webkit-scrollbar {
    display: none;
}

.carousel li {
    list-style: none;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 20%;
    margin-left: 1.5%;
    margin-right: 1.5%;
    filter: grayscale(100%);
    transition: 0.2s;
}

.carousel li, .carousel img {
    width: 400px;
}
  .carousel li:hover {
    transition: 0.2s;
    filter: grayscale(0);
}

figure {
    float: right;
    text-align: center;
}

figure img {
    border-radius: 5px;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.social-icons {
    display: flex;
    justify-content: center;
    /* margin-top: 20px; */
}

.social-icons a {
    color: #fff;
    /* Set the icon color to white */
    font-size: 24px;
    margin: 0 5px;
    /* Reduce the space between icons */
    transition: color 0.3s;
    /* Add a transition effect for hover */
}

.social-icons a:hover {
    color: #ff4081;
}

footer p {
    margin-top: 10px;
    /* Reduce the space above the copyright details */
}